body {
    overflow: hidden;
    background: #0000 !important;
    line-height: 1;
}

.Button {
    background-color: initial;
    border: 1px solid #0000;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
    line-height: 100%;
    min-height: 2rem;
    min-width: 2rem;
    padding: .5rem 1rem;
    position: relative;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    vertical-align: middle;
}
.ReactModal__Overlay {
    background-color: rgba(33, 33, 33, .251);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 910;
}
.ReactModal__Overlay--after-open {
    opacity: 1;
}
.Button.Button--icon-alignment-left svg:first-child {
    float: left;
    margin-left: 0;
    margin-right: .5rem;
}
.Button--delete svg {
    margin: 0 .625rem 0 0;
    vertical-align: top;
}
.Icon--mini {
    height: .75rem;
    width: .75rem;
}

.ReactModal__Overlay {
    animation: fadeIn .25s ease-in-out;
    animation-fill-mode: backwards;
}
.ReactModal__Overlay .ReactModal__Content--xsmall {
    width: 500px;
    width: 31.25rem;
}

.flex-justify, .flex-start {
    display: flex;
}
.flex-justify {
    justify-content: space-between;
}



.ReactModal__Overlay .ReactModal__Content {
    background: #fff;
    border: 1px solid #dde3ee;
    border-radius: 8px;
    box-shadow: 0 24px 38px 3px #00000024, 0 9px 46px 8px #0000001f, 0 11px 15px #0003;
    margin: auto;
    max-height: 520px;
    max-height: 32.5rem;
    outline: none;
}
.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__header {
    background: #f7f9fc;
    border-bottom: 1px solid #dde3ee;
    border-radius: 10px 10px 0 0;
    padding: 1.125rem 1rem;
}
.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__header>div:first-child {
    width: 100%;
    width: -webkit-fill-available;
    width: fill-available;
}

.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__header .ReactModal__close {
    cursor: pointer;
}
.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__body {
    background: #fff;
    color: #212121;
    max-height: 386.08px;
    max-height: 24.13rem;
    overflow: auto;
    padding: 1.5rem 1rem;
}

.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__footer {
    border-top: 1px solid #dde3ee;
    padding: .969rem 1.25rem;
}

.flex-right {
    display: flex;
    flex-direction: row-reverse;
}


.Button--size-small {
    font-size: .875rem;
    max-height: 2rem;
    min-height: 2rem;
    padding: .3125rem 1rem;
}

.Button--delete {
    border: 1px solid #d62400;
    color: #d62400;
}

.flex-center, .flex-v-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
}



.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__header h3 {
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    color: #212121;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.flex-center, .flex-h-center, .flex-v-center {
    display: flex;
}

.tippy-wrapper {
    display: inline-block;
}

.Button:active {
    border: 1px solid #3e3871;
}
.Button--light:hover {
    background-color: #edf1f7;
    color: #475161;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.Button__group button {
    margin-right: 1rem;
}

.Button__group button:last-child {
    margin-right: 0;
}


