.layout-container {
  margin: 0px;
}

.ui-location-wrapper {
  padding: 1.5rem 1.5rem;
  align-items: flex-start;
  gap: 1.25rem;
  align-self: stretch;
}

.ui-location {
  padding: 1.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9375rem;
  align-self: stretch;
  width: 96vw;
}

.ui-container {
  padding: 1.5rem 0rem;
}

.config-container {
  width: 23.5625rem;
  justify-content: center;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
}

.info {
  font-size: 0.875rem;
}

.location-description {
  width: 25.5625rem;
}

.location-description-text {
  white-space: nowrap; 
  word-wrap: break-word; 
}

.block {
  display: block;
}
.hidden {
  display: none !important;
}
.btn-close {
  border: 1px solid rgb(129 129 129);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #ffffff;
  transition: 0.2s ease-in-out;
  top: 0;
  right: 9%;
  color: rgb(129 129 129);
  line-height: 30px;
  text-align: center;
  z-index: 9999;
}
.filerobot-images .file-content {
  width: 100%;
  height: 200px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.filerobot-images .file-content .file-content-type {
  padding: 1rem;
}


.filerobot-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

.filerobot-image {
  position: relative;
  margin-right: 19px;
  margin-top: 12px;
  width: 23%;
  float: left;
}

.filerobot-images .filerobot-image:nth-child(4n+0) {
  margin-right: 0;
}

.remove-image-btn {
  top: -7px;
  right: -6px;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(129 129 129);
  display: inline-block;
  cursor: pointer;
  position: absolute;
  color: rgb(129 129 129);
  text-align: center;
  border-radius: 20px;
  line-height: 18px;
  text-align: center;
  background: #fff;
}



/* CSS */
.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.field-extension-wrapper {
  width: 100%;
}
.field-extension {
  width: 100% !important;
  padding-left: 2px;
}
.field-extension .field-wrapper {
  padding: 0 10px;
  width: 100%;
}
.field-extension .field-wrapper .no-asset {
  color: #647696;
  font-family: Inter, Serif, Sans-serif;
  font-size: 14px;
  height: 16px;
  width: 200px;
}
.field-extension .field-wrapper .asset-box {
  border: 1px solid #a9b6cb;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 0;
}
.field-extension .field-wrapper .asset-box .box-header {
  border-bottom: 1px solid #edf1f7;
  padding: 17px 15px;
  display: flex;
  justify-content: space-between;
}
.field-extension .field-wrapper .asset-box .box-header span {
  color: #475161;
  font-size: 12px;
  font-weight: bold;
  font-family: Inter, Serif, Sans-serif;
  letter-spacing: 0.01em;
  margin-right: 13px;
  vertical-align: middle;
}
.field-extension .field-wrapper .Table {
  min-height: 280px !important;
  max-height: 400px !important;
  overflow-y: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.field-extension .field-wrapper .Table .table-relative {
  position: relative !important;
}
.field-extension .field-wrapper .Table .table-relative .table-overflow {
  overflow: visible;
  height: 0;
}
.field-extension .field-wrapper .Table .Table__body {
  max-height: 355px;
  overflow: auto;
  width: 100%;
}
.field-extension .field-wrapper .render-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  max-height: 400px;
  overflow-y: auto;
  padding: 10px 0 !important;
}
.field-extension .field-wrapper .render-items > div {
  padding-left: 9px !important;
}
.field-extension .field-wrapper .render-items .AssetCard {
  font-family: Inter, Serif, Sans-serif;
  height: 180px;
  width: 170px;
}
.field-extension .field-wrapper .render-items .AssetCard .AssetCard__shortinfo__name .tippy-wrapper {
  width: 150px;
}
.field-extension .field-wrapper .render-items .AssetCard .AssetCard__action__custom {
  cursor: pointer !important;
}
.field-extension .field-wrapper .render-items .AssetCard .AssetCard__action__custom:first-of-type {
  cursor: -webkit-grabbing;
  cursor: grabbing !important;
  cursor: -moz-grabbing;
}
.field-extension .field-wrapper .render-items .AssetCard .AssetCard__action__custom:hover svg path, .field-extension .field-wrapper .render-items .AssetCard .AssetCard__action__custom:hover svg circle {
  fill: black !important;
  stroke: none !important;
}
.field-extension .field-wrapper .render-items .AssetCard .AssetCard__action__custom:last-child:hover svg path {
  stroke: #edf1f7 !important;
}
.field-extension .field-wrapper .render-items .AssetCard .AssetCard__shortinfo__name > .tippy-wrapper > span {
  color: #222 !important;
  font-weight: 500 !important;
}
.field-extension .field-wrapper .render-items .AssetCard.onhover-disabled:hover .AssetCard__action {
  display: unset;
}
.AssetCard__asset.AssetCard__asset--image, .AssetCard__asset.AssetCard__asset--image:active {
  background-size: contain !important;
  cursor: grabbing !important;
}
.selected-items, .AssetCard__asset, .AssetCard__asset:active, .AssetCard__action__custom, .AssetCard__action__custom:hover, .AssetCard__action__custom:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  cursor: -moz-grabbing;
}
.selected-items, .selected-items:active {
  height: 180px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.AssetCard__action__custom:last-child:hover svg path {
  fill: #d62400 !important;
  stroke: none !important;
}
.custom-field-data {
  display: flex;
  height: 20px;
  width: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
.custom-field-data--ids {
  flex: 33.33%;
}
.deleteModalBody {
  font-family: Inter, Serif, Sans-serif;
}
.deleteModalBody p {
  color: #222;
  font-size: 14px;
  line-height: 1.5;
}
.deleteModalBody span {
  font-weight: 600;
}
@media (max-width: 750px) and (min-width: 510px) {
  .render-items > div {
    width: 150px !important;
 }
  .render-items .AssetCard {
    width: 140px !important;
 }
  .render-items .AssetCard .AssetCard__shortinfo__name > .tippy-wrapper > span {
    width: 120px !important;
 }
}
.noImage {
  width: 80% !important;
  height: 100% !important;
  border: 1px solid #dde3ee !important;
  border-radius: 3px;
}
.noImage .tippy-wrapper, .noImage svg {
  width: 100% !important;
  height: 100% !important;
}
.icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-element svg {
  height: 80% !important;
  width: 80% !important;
}
.AssetCard__asset.not--clickable, .AssetCard:not(.AssetFolder):hover:hover .AssetCard__asset.AssetCard__icon {
  cursor: grabbing !important;
}
.remove-modal-icon circle {
  fill: #d62400 !important;
}
.Button--delete:hover .remove-modal-icon circle {
  fill: white !important;
}
.Button--delete:hover .remove-modal-icon path {
  stroke: #d62400 !important;
}
.Table__head__column {
  text-align: left;
}
.ActionTooltip__actions .tippy-wrapper:first-child li .wrappper-svg {
  cursor: grabbing !important;
}
.Table__head__row .Table__head__column:first-child {
  width: 150px;
  font-size: 12px;
}
.Table__body__row .Table__body__column:first-child {
  width: 150px;
}
.Table .Table__body__column, .Table .Table__head__column {
  font-size: 12px;
}
.Table .Table__body__column:last-of-type, .Table .Table__head__column:last-of-type {
  width: 150px;
}
.Table .Table__head__column:nth-child(2), .Table .Table__body__column:nth-child(2) {
  width: 23rem;
}
.Table .Table__body__column:nth-child(2) {
  overflow: hidden;
}
.Table .Table__body__column:nth-child(2) p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Table__body__column .rowVideo, .Table__body__column .rowImage {
  width: 80% !important;
  height: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #dde3ee;
  border-radius: 3px;
}
.Table__body__column .rowVideo img, .Table__body__column .rowImage img, .Table__body__column .rowVideo video, .Table__body__column .rowImage video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.select-view {
  display: flex;
}
.select-view svg {
  margin-right: 10px;
}
.Dropdown--primary > .Dropdown__menu--primary {
  left: -9.1875rem !important;
  z-index: 10 !important;
}
.Table__body__row .ActionTooltip {
  cursor: grabbing !important;
}
.Table__body__row .ActionTooltip__actions .tippy-wrapper:hover svg circle {
  fill: black !important;
  stroke: none !important;
}
.Table__body__row .ActionTooltip__actions .tippy-wrapper:last-child:hover svg path {
  stroke: #edf1f7 !important;
}
